.fCard {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
    background-color: white;
    transform-style: preserve-3d;
    transition: 150ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
  }


.fCard.flip {
    --rotate-y: 180deg;
}

.fCard .front,
.fCard .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
}

.fCard .back {
    transform: rotateY(180deg);
}